# Full reference https://github.com/foundry-rs/foundry/tree/master/crates/config

[profile.default]
  auto_detect_solc = false
  block_timestamp = 1_704_067_200 # January 1, 2024 at 00:00 GMT
  bytecode_hash = "none"
  evm_version = "paris"           # See https://www.evmdiff.com/features?name=PUSH0&kind=opcode
  fuzz = { runs = 1_000 }
  gas_reports = ["*"]
  optimizer = true
  optimizer_runs = 10_000
  out = "out"
  script = "script"
  solc = "0.8.23"
  src = "src"
  test = "test"
libs = ["node_modules", "lib"]

[fmt]
  bracket_spacing = true
  int_types = "long"
  line_length = 120
  multiline_func_header = "all"
  number_underscore = "thousands"
  quote_style = "double"
  tab_width = 4
  wrap_comments = true

[rpc_endpoints]
  arbitrum = "https://direct.routeme.sh/rpc/42161/${ROUTEMESH_API_KEY}"
  avalanche = "https://direct.routeme.sh/rpc/43114/${ROUTEMESH_API_KEY}"
  bnb_smart_chain = "https://bsc-dataseed.binance.org"
  gnosis_chain = "https://rpc.gnosischain.com"
  localhost = "http://localhost:8545"
  mainnet = "https://direct.routeme.sh/rpc/1/${ROUTEMESH_API_KEY}"
  optimism = "https://direct.routeme.sh/rpc/10/${ROUTEMESH_API_KEY}"
  polygon = "https://direct.routeme.sh/rpc/137/${ROUTEMESH_API_KEY}"
  sepolia = "https://direct.routeme.sh/rpc/11155111/${ROUTEMESH_API_KEY}"
